{"id":"api.host","type":"activeSetting","baseType":"setting","name":"api.host","activeValue":"http://{{ rancher_host }}:{{ rancher_port }}","inDb":true,"source":"Database","value":"http://{{ rancher_host }}:{{ rancher_port }}"}
