{
  "allowSystemRole": false,
  "virtualMachine": false,
  "kind": "project",
  "type": "project",
  "name": "CI-CD2",
  "description": "Cattle CI-CD 2 Environment RIG 2 type",
  "projectTemplateId": "{{ cattle_id }}",
  "projectMembers": [],
  "members": []
}
