{
  "allowSystemRole": false,
  "virtualMachine": false,
  "kind": "project",
  "type": "project",
  "name": "CI-CD3",
  "description": "Cattle CI-CD 3 Environment RIG 2 type",
  "projectTemplateId": "{{ cattle_id }}",
  "projectMembers": [],
  "members": []
}
