{
  "allowSystemRole": false,
  "virtualMachine": false,
  "kind": "project",
  "type": "project",
  "name": "Kubernetes1",
  "description": "Kubernetes CI-CD Environment RIG 3 type",
  "projectTemplateId": "{{ kubernetes_id }}",
  "projectMembers": [],
  "members": []
}
