{
  "allowSystemRole": false,
  "virtualMachine": false,
  "kind": "project",
  "type": "project",
  "name": "Mesos1",
  "description": "MESOS-Marathon CI-CD Environment Experimental",
  "projectTemplateId": "{{ mesos_id }}",
  "projectMembers": [],
  "members": []
}
