{
  "allowSystemRole": false,
  "virtualMachine": false,
  "kind": "project",
  "type": "project",
  "name": "Swarm1",
  "description": "Portainer Swarm Nodes CI-CD Environment Experimental",
  "projectTemplateId": "{{ swarm_id }}",
  "projectMembers": [],
  "members": []
}
