registry:
  # Docker registry url
  url: http://{{ docker_registry_address }}/v2
  # Docker registry fqdn
  name: localhost:{{ docker_registry_port }}
  # To allow image delete, should be false
  readonly: false
  auth:
    # Enable authentication
    enabled: true
    # Token issuer
    # should equals to auth.token.issuer of docker registry
    issuer: "/C=US/ST=Oregon/L=Portland/O=IT/CN=front-end"
    # Private key for token signing
    # certificate used on auth.token.rootcertbundle should signed by this key
    key: /conf/auth.key
